---
import Layout from "../../layouts/Layout.astro";
import PageHeading1 from "../../components/PageHeading1.astro";
---

<Layout>
  <PageHeading1 text="Cookies" />
  <div class="w-full lg:w-1/2 mb-24">
    <p>
      Cookies are small text files that are placed on your computer's hard drive
      through your web browser when you visit any web site. They are widely used
      to make web sites work, or work more efficiently, as well as to provide
      information to the owners of the site.
    </p><p>
      Like all other users of cookies, we may request the return of information
      from your computer when your browser requests a web page from our server.
      Cookies enable our web server to identify you to us, and to track your
      actions and the pages you visit while you use our website. The cookies we
      use may last for a single visit to our site (they are deleted from your
      computer when you close your browser), or may remain on your computer
      until you delete them or until a defined period of time has passed.
    </p><p>
      Although your browser software enables you to disable cookies, we
      recommend that you allow the use of cookies in order to take advantage of
      the features of our website that rely on their use. If you prevent their
      use, you will not be able to use all the functionality of our website.
      Here are the ways we may use cookies:
    </p><ul>
      <li>
        to record whether you have accepted the use of cookies on our web site.
        This is solely to comply with the law. If you have chosen not to accept
        cookies, we will not use cookies for your visit, but unfortunately, our
        site will not work well for you.
      </li><li>
        to allow essential parts of our web site to operate for you.
      </li><li>to operate our content management system.</li><li>
        to operate the online notification form — the form that you use to
        contact us for any reason. This cookie is set on your arrival at our web
        site and deleted when you close your browser.
      </li><li>
        to enhance security on our contact form. It is set for use only through
        the contact form. This cookie is deleted when you close your browser.
      </li><li>
        to collect information about how visitors use our site. We use the
        information to improve your experience of our site and enable us to
        increase sales. This cookie collects information in an anonymous form,
        including the number of visitors to the site, where visitors have come
        to the site from, and the pages they visited.
      </li><li>
        to store your personal information so that you do not have to provide it
        afresh when you visit the site next time. This cookie will last for a
        period of time after which it will delete automatically.
      </li>
    </ul>
  </div>
</Layout>
