---
// import Carousel from '../components/Carousel.astro';
import Card from "../components/Card.astro";
import HomepageLayout from "../layouts/HomepageLayout.astro";
import HomepageImageCluster from "../components/HomepageImageCluster.astro";

const date = new Date();
const threeLetterMonth = date.toLocaleString('en-US', { month: 'short' });
---

<HomepageLayout>
  <Card widths="w-full ">
    <HomepageImageCluster />
    
    <div class="text-center mt-8">Your chance to get one of our three ${threeLetterMonth} 2025 contracts: <a class="btn btn-outline ml-1" href="/contact">Start a chat.</a></div>
  </Card>
  <!-- <Carousel /> -->
</HomepageLayout>
