---
import { Icon } from "astro-icon/components";
---

<div class="drawer-side">
  <label for="my-drawer-4" aria-label="close sidebar" class="drawer-overlay"
  ></label>

  <ul
    class="menu bg-white text-gray-900 min-h-full w-80 p-4 !mt-0 text-xl shadow-md border-l border-gray-100"
  >
    <!-- Sidebar content here -->
    <li class="!mt-8 !mb-16"><label for="my-drawer-4" class="">CLOSE X</label></li>
    <li><a href="/"><Icon class="inline-block" name="home" /> Home</a></li>
    <li>
      <a href="/services/list"
        ><Icon class="inline-block" name="concierge" /> Services</a
      >
    </li>
    <li>
      <a href="/mission"><Icon class="inline-block" name="rocket" /> Mission</a>
    </li>
    <li>
      <a href="/about"><Icon class="inline-block" name="about" /> About</a>
    </li>
    <li>
      <a href="/contact"
        ><Icon class="inline-block" name="envelope" /> Contact</a
      >
    </li>
  </ul>
</div>
