---
import Logo from './Logo.astro';
---

<div class=" bg-white navbar m-0 p-0">
  <div class="flex-1">
    <Logo />
  </div>

  <div class="flex-none mr-0 pr-0">      
      <label for="my-drawer-4" class="drawer-button btn btn-square btn-ghost hover:bg-gray-300 active:bg-gray-300">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" class="inline-block h-8 w-8 stroke-gray-500"> <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16"></path> </svg>
      </label>
  </div>
</div>